.superheading {
  color: #fff;
}
.superheading h1,
h2 {
  text-align: center;
}
.superheading h2 {
  color: orangered;
}
.superheading h1:hover {
  color: red;
  transform: scale(1.3);
}

.supercard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.supercard {
  color: #fff;
  margin-bottom: 20px;
  margin: 10px 10px;
}

.supercard .box {
  max-width: 500px;
  margin: 50px 0 50px 0;
}
.supercard .box {
  width: calc(25% - 10px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 50px;
  cursor: pointer;
}
.supercard .box:hover{
    color:black;    
}
.supercard .box:hover {
  transform: scale(1.2);   
}
.supercard .box-time:hover {
  background: skyblue;
}
.supercard .box-case:hover {
  background: rgb(238, 231, 130);
}
.supercard .box-re:hover {
  background: lightgreen;
}
.supercard .box-death:hover {
  background: rgb(248, 41, 41);
}
.supercard .box .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

